.add {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add img {
    width: 50px;
}

.add:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}