* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #4a4a4a;
    padding: 0 5%;
}


.main {
    display: flex;
    height: calc(80vh);
    width: 90vw;
}

.slide-list,
.workspace,
.property-editor {
    position: relative;
}

.slide-list {
    order: 1;
    z-index: 2;
}

.workspace {
    order: 2;
    z-index: 1;
}

.property-editor {
    order: 3;
    z-index: 2;
}

html, body {
    overflow-x: hidden;
    box-sizing: border-box;
}