* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #4a4a4a;
    padding: 0 5%;
}


.main {
    display: flex;
    height: calc(80vh);
    width: 90vw;
}

html, body {
    overflow-x: hidden;
    box-sizing: border-box;
}