.tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    position: relative;

    font-family: Arial, sans-serif;
    color: #383838;
}

.tool img {
    width: 24px;
    height: 24px;
}

.tool:hover {
    background-color: #e0e0e0;
    border: none;
}

.tool:focus {
    outline: none;
}

.selected,
.selected:hover,
.selected:focus {
    outline: 3px solid #fce181;
}