.property-editor {
    order: 3;
    z-index: 2;
    background-color: #f7f7f7; /* Светлый фон */
    padding: 20px 30px;
    width: 20%; /* Ширина редактора */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    max-height: 100vh; /* Не превышать высоту экрана */
    display: inline-block;
}

.property-editor h3 {
    text-align: center;
}

.property-editor p {
    font-style: italic;
}

.properties,
.components {
    overflow-y: auto;
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 10px;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f1f1f1;
}

.properties::-webkit-scrollbar,
.components::-webkit-scrollbar {
    width: 5px;
}

.properties::-webkit-scrollbar-thumb,
.components::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.properties::-webkit-scrollbar-track,
.components::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.properties::-webkit-scrollbar-button,
.components::-webkit-scrollbar-button {
    display: none;
}

.resizer {
    height: 5px;
    background-color: #ccc;
    cursor: row-resize;
    margin: 10px auto;
    border-radius: 5px;
    width: 80%;
}