.toolbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    /* border-bottom: 1px solid #ccc; */
    /* width: 100vw; */
}

.toolbar button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 40px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;

    font-family: Arial, sans-serif;
    color: #383838;
}

.toolbar button img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.toolbar button:hover {
    background-color: #e0e0e0;
    border: none;
}

.toolbar button:focus {
    outline: none;
}

.toolbar .selected,
.toolbar .selected:hover,
.toolbar .selected:focus {
    outline: 3px solid #fce181;
}