.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title-input {
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #888;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-input:focus {
    outline: none;
}

.header-center {
    text-align: center;
    background-color: #fce181;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
    border-radius: 10px;
}

.header-center h1 {
    margin: 0;
    font-family: "Arial", cursive, sans-serif;
    font-size: 24px;
    color: #d38e10;
    text-transform: uppercase;
}

.maker-text {
    display: block;
    font-size: 18px;
    text-transform: none;
    color: #333;
}

.header-right {
    display: flex;
    align-items: center;
}

.icon-button {
    background-color: #FFE135;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.icon-button img {
    height: 24px;
    width: 24px;
}

.icon-button:hover {
    background-color: #b97c0b;
}


