.slide-list {
    background-color: #ffffff;
    padding: 20px 30px;
    /* border-right: 1px solid #ccc; */
}

.slide-list ul {
    list-style: none;
}

.slide-list li {
    padding: 5px 0;
    cursor: pointer;
}

.slide-list li:hover {
    background-color: #ffe135;
}