.container {
    width: 100%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 0;
}

.separator {
    width: 80%; 
    height: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}

.separator:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.selected {
    background-color: #ddd;
}

.entered {
    height: 30px;
    width: 30px;
    background-color: #ddd;
}

.separator img {
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
}